body {
    background-color: #191124;
}

.App{
    margin: 50px;
}

.steps {
    color: white;
    display: inline;
    margin-left: 50px;
}

.square{
    width: 15px;
    height: 15px;
    border: 1px solid #37254f;
    float: left;
    margin: 1px;
}

.row {
  clear: both;
  content: "";
  display: table;
}

.alive {
    background-color: #e6d4ff;
}

.dead {
    background-color: #523d6e;
}